// ABOUT SECTION

.aboutLevidrome {
    background: rgba(255, 255, 255, 0.35);
    h3 {
        margin-bottom: 20px;
    }
}

.textWrapper {
    @extend .wrapper;
    margin: 30px auto;
}

.aboutLevidrome, .creditSection {
    padding: 30px;
}

iframe.video {
    display: block;
    width: 80%;
    height:290px;
    margin: 15px;
}

.vid1 {
    float: right;
}

.vid2 {
    float: left;
}

//CREDITS SECTION
.creditSection {
    background: $neutralBlue;
    margin: 15px 0;
}

.creditText {
    padding: 5px 45px;
}

.sourceText {
    font-size: 1.0rem;
    text-transform: lowercase;
    padding: 5px 45px;
}

.sourceText a {
    color: $black;
}

.sourceText a:hover {
    color: $white;
}

ul.testimonials {
    @extend .wrapper;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    li {
        list-style: none;
        width: 30%;
        margin: 20px;
        float: left;
        .testimonialsLogo {
            width: 100%;
            padding: 10px;
            img {
                width: 100%;
            }
        }
    }
}